<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Home in Post templates.....</h1>
<center><h2> Latest Posts </h2></center>
{% for every_post in latest_post.all %}
    <center><h3>
        <a href="{% url 'post_link' every_post.id %}">{{ every_post.title }}</a></h3>
        <br />
        {{ every_post.pub_date_modified }}<br />
        <img src ="{{ every_post.img.url }}"><br />
        {{ every_post.summary }}<br /> <br />

    </center>
{% endfor %}
</body>
</html>